body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control {
    width: 50%;
}
.box {
    width: 40%;
    text-align: center;
}
.box p{
    font-size: 20px;
    font-weight: 600;
}
.high{
    background-color: red;
    height: 50px;
}
.low {
    background-color: blue;
    height: 50px;
}
.fore {
    background-color: grey;
    height: 50px;
}
.hum {
    background-color: aqua;
    height: 50px;
}